@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 73.125em;
  padding: 0 0.9375em;
  margin: auto;
}

.header-restaurant {
  font-family: "Merienda", cursive;
  min-height: 49.5625em;
  height: 100vh;
  background: url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header-restaurant .header-container {
  padding: 2.5em 0px 6.25em;
}

.header-restaurant .header-restaurant__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-restaurant .header-menu .header-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 43.75em;
  margin: 1.875em auto 0;
}

.header-restaurant .header-menu .header-menu__items .header-menu__link {
  color: #c3c2c2;
}

.header-restaurant .header-menu .header-menu__items .header-menu__link:hover, .header-restaurant .header-menu .header-menu__items .header-menu__link:focus {
  color: #e84545;
  border-radius: 0.25em;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.header-restaurant .header-menu .header-menu__items .header-menu__link:active {
  color: #fff;
  background: #e84545;
}

.header-restaurant .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header-restaurant .header-title h1 {
  font-family: "Alex Brush", cursive;
  font-size: 4.0625em;
  font-weight: 700;
  line-height: 71px;
  color: #fff;
  margin: 65px 0 26px;
}

.header-restaurant .header-title h1::first-letter {
  color: #e84545;
  font-size: 2em;
}

.header-restaurant .header-title p {
  color: #c3c2c2;
  max-width: 600px;
  padding: 0 25px 0 25px;
}

.header-restaurant .header-title p span {
  color: #e84545;
}

.header-restaurant .header-title .header__btn {
  margin: 30px 0 0;
  background: #e84545;
  color: #fff;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12.5em;
  height: 2.875em;
}

.header-restaurant .header-title .header__btn:hover, .header-restaurant .header-title .header__btn:focus {
  background-color: transparent;
  border: 0.125em solid #e84545;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-restaurant .header-title .header__btn:active {
  background: transparent;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.block-restaurant-form {
  padding: 1.6875em 0 1.6875em;
  text-align: center;
}

.block-restaurant-form h2 {
  font-family: "Merienda", cursive;
  padding: 0 0 25px;
  font-size: 40px;
}

.block-restaurant-form h2::first-letter {
  color: #e84545;
  font-size: 1.4em;
}

.block-restaurant-form .restaurant__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-restaurant-form .restaurant__form label {
  position: relative;
}

.block-restaurant-form .restaurant__form i.fa-calendar {
  position: absolute;
  top: 18%;
  left: 17%;
  z-index: 100;
  font-size: 28px;
  z-index: 100;
}

.block-restaurant-form .restaurant__form .form__date {
  position: relative;
}

.block-restaurant-form .restaurant__form .form__date[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: -0.9em;
  width: 1.625em;
  height: 1.625em;
  background: transparent;
  z-index: 999;
}

.block-restaurant-form .restaurant__form i.fa-clock {
  position: absolute;
  top: 18%;
  left: 17%;
  z-index: 100;
  font-size: 28px;
  z-index: 100;
}

.block-restaurant-form .restaurant__form .form__time {
  position: relative;
}

.block-restaurant-form .restaurant__form .form__time[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0.3em;
  width: 1.625em;
  height: 1.625em;
  background: transparent;
  z-index: 999;
}

.block-restaurant-form .restaurant__form i.fa-user-friends {
  position: absolute;
  top: 18%;
  left: 15%;
  z-index: 100;
  font-size: 28px;
  z-index: 100;
}

.block-restaurant-form .restaurant__form .form__btn {
  font-family: "Raleway", sans-serif;
  width: 12.5em;
  height: 3.175em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: #e84545;
}

.block-restaurant-form .restaurant__form .form__btn:hover, .block-restaurant-form .restaurant__form .form__btn:focus {
  background: transparent;
  color: #000;
  border: 1px solid #e84545;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.block-restaurant-form .restaurant__form .form__btn:active {
  background: transparent;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.block-restaurant-form .restaurant__form input,
.block-restaurant-form .restaurant__form button {
  border-radius: 6px;
  margin: 0 30px 30px;
}

.block-restaurant-form .restaurant__form input {
  width: 200px;
  min-height: 56px;
  border: solid 0.0625em #c2c2c2;
  padding: 0 3.325em;
}

.best-in-town {
  background: #fff;
  padding: 4.0625em 0 5.9375em 0;
}

.best-in-town .best-in-town__title {
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: #000;
}

.best-in-town .best-in-town__title > h3 {
  font-size: 6.3125em;
}

.best-in-town .best-in-town__title > h3::first-letter {
  color: #e84545;
}

.best-in-town .best-in-town__title > p {
  font-size: 2.8125em;
}

.best-in-town .best-in-town__title > p::first-letter {
  color: #e84545;
}

.best-in-town .main-dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-top: 4.0625em;
}

.best-in-town .main-dishes .hot-img__bg {
  position: relative;
  max-width: 100%;
}

.best-in-town .main-dishes .hot-img__bg img:nth-child(1) {
  position: absolute;
  top: 80%;
  left: 5%;
}

.best-in-town .main-dishes .hot-main-dishes__column {
  position: relative;
  min-width: 18.75em;
  min-height: 25em;
}

@media screen and (min-width: 240px) and (max-width: 789px) {
  .best-in-town .main-dishes .hot-main-dishes__column {
    margin: 0 50px 50px;
  }
}

.best-in-town .main-dishes .hot-main-dishes__column .hot__column {
  font-family: "Raleway", sans-serif;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.best-in-town .main-dishes .hot-main-dishes__column .hot__column h4 {
  margin-top: 1.875em;
}

.best-in-town .main-dishes .hot-main-dishes__column .hot__column .hot__h4 {
  margin-top: 1.25em;
}

.best-in-town .main-dishes .hot-main-dishes__column .hot__column p {
  margin-top: 1.045em;
  max-width: 15em;
  text-align: justify;
  white-space: nowrap;
  /* Запрещаем перенос строк */
  overflow: hidden;
  /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis;
  /* Добавляем многоточие */
  font-family: "Merienda", cursive;
}

.best-in-town .main-dishes .hot-main-dishes__column .hot__column .hot-descr__p {
  margin-top: 0.8125em;
}

.best-in-town .main-dishes .hot-main-dishes__column .hot__column .hot-column__img {
  max-width: 100%;
  border-radius: 30%;
}

.best-in-town .main-dishes .hot-main-dishes__column .hot__column:hover {
  z-index: 100;
  border: solid 0.125em #000;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
  border-radius: 10px;
  background: #ac0b0b radial-gradient(circle at 50% 0, rgba(22, 21, 21, 0.65), rgba(223, 238, 8, 0.767));
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(196, 250, 3, 0.7) 0 3px 8px, rgba(8, 8, 8, 0.8) 0 3px 8px -3px;
          box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(196, 250, 3, 0.7) 0 3px 8px, rgba(8, 8, 8, 0.8) 0 3px 8px -3px;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
  padding: 0.8125em;
}

.best-in-town .main-dishes .hot-main-dishes__column .hot__column:hover p {
  overflow: visible;
  white-space: normal;
}

.menu {
  background: #222c2e;
  padding: 5.1875em 0 5.1875em;
  min-height: 700px;
}

.menu .menu-title__paragraph {
  margin: 30px 0 0 0;
  color: #fff;
  font-family: "Merienda", cursive;
  text-align: center;
}

.menu .menu-title__bg {
  background: url("../img/title-border.png") no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  position: relative;
  top: 25%;
  right: 50%;
  left: 50%;
  margin-left: -150px;
  max-height: 8.75em;
  max-width: 18.75em;
}

.menu .menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.menu .menu__title h3 {
  font-family: "Raleway", sans-serif;
  font-size: 3.1875em;
  font-weight: 700;
  padding: 20px 20px 20px 20px;
  color: #fff;
  text-transform: uppercase;
}

.menu-restaurant {
  margin: 100px 0 0 0;
}

/* Базовый контейнер табов */
.tabs {
  min-width: 320px;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

/* Стили секций с содержанием */
.tabs > section {
  display: none;
  padding: 15px;
}

/* Прячем чекбоксы */
.tabs > input {
  display: none;
  position: absolute;
}

/* Стили переключателей вкладок (табов) */
.tabs > label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 0px 40px;
}

/* Изменения стиля переключателей вкладок при наведении */
.tabs > input + label {
  color: #74898e;
  fill: #74898e;
}

.tab1-ul-block {
  display: block;
  min-width: 440px;
}

.mr-left {
  margin: 0 10px 0 0;
}

.tabs > input:checked + label {
  color: #fff;
  fill: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.tab1-content-menu {
  line-height: 1.4;
}

.text-tab {
  position: relative;
  bottom: 55px;
  left: 15px;
}

.tab1-text {
  position: relative;
  overflow: hidden;
  display: block;
}

.tab1-text:after {
  content: "";
  position: absolute;
  margin-left: 0.3em;
  bottom: 0.35em;
  width: 100%;
  border-bottom: 0.1em dotted;
}

.tab1-number {
  color: #d8b57a;
  font-weight: 700;
  float: right;
  padding-left: 0.2em;
  width: 30%;
}

.tab1-number:after {
  content: "\0024";
  color: #d8b57a;
}

.text-drinks-tab {
  position: relative;
  bottom: 61px;
  left: 15px;
}

/* Стили для активной вкладки */
svg {
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.svg-icon-drinks {
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 3px;
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

.tabs li > input:checked ~ .tab-content {
  display: block;
}

/* Активация секций с помощью псевдокласса :checked */
#tab1:checked ~ #content-tab1,
#tab2:checked ~ #content-tab2,
#tab3:checked ~ #content-tab3,
#tab4:checked ~ #content-tab4,
#tab5:checked ~ #content-tab5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  max-width: 780px;
  padding: calc( 20px + 30 * ((100vw - 320px) / 1600));
}

.tabs li > input:checked + label {
  color: #fff;
  fill: #fff;
}

/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/
@media screen and (max-width: 698px) {
  .tabs > label {
    font-size: 0;
    margin: 20px;
    max-width: 120px;
    padding: 0;
  }
  .tabs {
    max-width: 250px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  /* Базовый контейнер табов */
  .menu {
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  #tab1:checked ~ #content-tab1,
  #tab2:checked ~ #content-tab2,
  #tab3:checked ~ #content-tab3,
  #tab4:checked ~ #content-tab4,
  #tab5:checked ~ #content-tab5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tab1-ul-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 320px;
    font-size: 12px;
  }
  .mr-left {
    margin: 0;
  }
  .tab1-number {
    color: #d8b57a;
    font-weight: 700;
    float: right;
    padding-left: 0.2em;
    width: 10%;
  }
  .tab1-number:after {
    content: "\0024";
    color: #d8b57a;
  }
  .tabs > label:before {
    margin: 0;
    font-size: 12px;
  }
}

/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 320px) {
  .menu {
    height: 300px;
  }
  .tabs {
    max-width: 230px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0;
  }
  .tabs > label {
    padding: 15px;
    margin: 20px;
  }
}
/*# sourceMappingURL=main.css.map */