@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-style: normal;
}

li {
  list-style: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.wrap--container {
  max-width: 1170px;
  padding: 0 15px 0 15px;
  margin: auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 2;
}

.header .header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
}

.header .header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 160px;
  flex: 0 0 160px;
  position: relative;
  z-index: 3;
}

.header .header__logo img {
  max-width: 100%;
}

.header .header__nav {
  font-family: "Merienda", cursive;
}

.header .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.header .header__list li {
  margin: 0 0 0 75px;
}

.header .header__list .header__link {
  font-size: 14px;
  text-transform: uppercase;
  color: #c8c8c7;
  display: inline-block;
  font-weight: 600;
  position: relative;
}

.header .header__list .header__link svg {
  fill: none;
  stroke: #f00000;
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 398;
  stroke-dashoffset: 338;
  stroke-linecap: round;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(50% + 90px);
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: stroke-dashoffset 0s 0.4s, opacity 0.4s;
  transition: stroke-dashoffset 0s 0.4s, opacity 0.4s;
  z-index: -1;
}

.header .header__list .header__link:hover, .header .header__list .header__link:focus {
  color: #e84545;
  border-radius: 0.25em;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.header .header__list .header__link:active {
  color: #fff;
  background: #e84545;
}

.header .header__list .menu__item--active svg,
.header .header__list .header__link:hover svg {
  stroke-dashoffset: 0;
  opacity: 1;
  -webkit-transition: opacity 0s, stroke-dashoffset 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0s, stroke-dashoffset 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header-restaurant {
  font-family: "Merienda", cursive;
  min-height: 49.5625em;
  background: url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.header-restaurant .header-title h1 {
  font-family: "Alex Brush", cursive;
  font-size: 4.0625em;
  font-weight: 700;
  line-height: 71px;
  color: #fff;
  margin: 60px 0 26px;
}

.header-restaurant .header-title h1::first-letter {
  color: #e84545;
  font-size: 2em;
}

.header-restaurant .header-title p {
  color: #c3c2c2;
  max-width: 600px;
  padding: 0 25px 0 25px;
}

.header-restaurant .header-title p span {
  color: #e84545;
}

.header-restaurant .header-title .header__btn {
  margin: 30px 0 0 0;
  width: 140px;
  height: 50px;
  background: #e84545;
  color: #fff;
  border-radius: 6px;
}

.header-restaurant .header-title .header__btn:hover, .header-restaurant .header-title .header__btn:focus {
  color: #fff;
  background: transparent;
  border: solid 2px #ac0b0b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.header-restaurant .header-title .header__btn:active {
  background: transparent;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.block-restaurant-form {
  padding: 1.6875em 0 1.6875em;
  text-align: center;
}

.block-restaurant-form h2 {
  font-family: "Merienda", cursive;
  padding: 0 0 25px;
  font-size: 40px;
}

.block-restaurant-form h2::first-letter {
  color: #e84545;
  font-size: 1.4em;
}

.block-restaurant-form .restaurant__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block-restaurant-form .restaurant__form label {
  position: relative;
}

.block-restaurant-form .restaurant__form i.fa-calendar {
  position: absolute;
  top: 18%;
  left: 17%;
  z-index: 100;
  font-size: 28px;
  z-index: 100;
}

.block-restaurant-form .restaurant__form .form__date {
  position: relative;
}

.block-restaurant-form .restaurant__form .form__date[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: -0.9em;
  width: 1.625em;
  height: 1.625em;
  background: transparent;
  z-index: 999;
}

.block-restaurant-form .restaurant__form i.fa-clock {
  position: absolute;
  top: 18%;
  left: 17%;
  z-index: 100;
  font-size: 28px;
  z-index: 100;
}

.block-restaurant-form .restaurant__form .form__time {
  position: relative;
}

.block-restaurant-form .restaurant__form .form__time[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0.3em;
  width: 1.625em;
  height: 1.625em;
  background: transparent;
  z-index: 999;
}

.block-restaurant-form .restaurant__form i.fa-user-friends {
  position: absolute;
  top: 18%;
  left: 15%;
  z-index: 100;
  font-size: 28px;
  z-index: 100;
}

.block-restaurant-form .restaurant__form .form__btn {
  font-family: "Raleway", sans-serif;
  width: 12.5em;
  height: 3.175em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: #e84545;
}

.block-restaurant-form .restaurant__form .form__btn:hover, .block-restaurant-form .restaurant__form .form__btn:focus {
  background: transparent;
  color: #000;
  border: solid 2px #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.block-restaurant-form .restaurant__form .form__btn:active {
  background: transparent;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.block-restaurant-form .restaurant__form input,
.block-restaurant-form .restaurant__form button {
  border-radius: 6px;
  margin: 0 30px 30px;
}

.block-restaurant-form .restaurant__form input {
  width: 200px;
  min-height: 56px;
  border: solid 0.0625em #c2c2c2;
  padding: 0 3.325em;
}

.best-in-town {
  background: #fff;
  padding: 50px 0 0px 0;
}

.best-in-town .best-in-town__title {
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: #000;
}

.best-in-town .best-in-town__title > h3 {
  font-size: 6.3125em;
}

.best-in-town .best-in-town__title > h3::first-letter {
  color: #e84545;
}

.best-in-town .best-in-town__title > p {
  font-size: 2.8125em;
}

.best-in-town .best-in-town__title > p::first-letter {
  color: #e84545;
}

.best-in-town .main-dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 4.0625em;
}

.best-in-town .main-dishes .hot-img__bg {
  position: relative;
  max-width: 100%;
}

.best-in-town .main-dishes .hot-img__bg img:nth-child(1) {
  position: absolute;
  top: 80%;
  left: 5%;
}

.best-in-town .main-dishes .hot-main-dishes__column {
  position: relative;
  width: 18.75em;
  min-height: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  z-index: 1;
  margin: 0 0 200px 0;
}

.best-in-town .main-dishes .hot-main-dishes__column .hot__column {
  font-family: "Raleway", sans-serif;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
}

.best-in-town .main-dishes .hot-main-dishes__column .hot__column h4 {
  margin-top: 1.875em;
}

.best-in-town .main-dishes .hot-main-dishes__column .hot__column .hot__h4 {
  margin-top: 1.25em;
}

.best-in-town .main-dishes .hot-main-dishes__column .hot__column p {
  margin-top: 1.045em;
  max-width: 15em;
  text-align: justify;
  white-space: nowrap;
  /* Запрещаем перенос строк */
  overflow: hidden;
  /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis;
  /* Добавляем многоточие */
  font-family: "Merienda", cursive;
}

.best-in-town .main-dishes .hot-main-dishes__column .hot__column .hot-descr__p {
  margin-top: 0.8125em;
}

.best-in-town .main-dishes .hot-main-dishes__column .hot__column .hot-column__img {
  max-width: 100%;
  border-radius: 30%;
}

.best-in-town .main-dishes .hot-main-dishes__column .hot__column:hover {
  z-index: 100;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
  border-radius: 10px;
  background: #ac0b0b radial-gradient(circle at 50% 0, rgba(22, 21, 21, 0.65), rgba(223, 238, 8, 0.767));
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(196, 250, 3, 0.7) 0 3px 8px, rgba(8, 8, 8, 0.8) 0 3px 8px -3px;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(196, 255, 17, 0.7) 0 3px 8px, rgba(19, 8, 8, 0.8) 11 8px 8px -3px;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
  padding: 0.8125em;
}

.best-in-town .main-dishes .hot-main-dishes__column .hot__column:hover p {
  overflow: visible;
  white-space: normal;
}

.menu {
  background: #222c2e;
  padding: 5.1875em 0 5.1875em;
  min-height: 700px;
}

.menu .menu-title__paragraph {
  margin: 30px 0 0 0;
  color: #fff;
  font-family: "Merienda", cursive;
  text-align: center;
}

.menu .menu-title__bg {
  background: url("../img/title-border.png") no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  position: relative;
  top: 25%;
  right: 50%;
  left: 50%;
  margin-left: -150px;
  max-height: 8.75em;
  max-width: 18.75em;
}

.menu .menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.menu .menu__title h3 {
  font-family: "Raleway", sans-serif;
  font-size: 3.1875em;
  font-weight: 700;
  padding: 20px 20px 20px 20px;
  color: #fff;
  text-transform: uppercase;
}

.menu-restaurant {
  margin: 100px 0 0 0;
}

/* Базовый контейнер табов */
.tabs {
  min-width: 320px;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tabs .new:after {
  content: "NEW!";
  background: #e84545;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px;
  color: #fff;
  margin-left: 10px;
}

h5 {
  margin: 0 0 10px 0;
}

/* Стили секций с содержанием */
.tabs > section {
  display: none;
  padding: 15px;
}

/* Прячем чекбоксы */
.tabs > input {
  display: none;
  position: absolute;
}

/* Стили переключателей вкладок (табов) */
.tabs > label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 0px 40px;
}

@media (min-width: 320px) and (max-width: 990px) {
  .tabs > label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 0px 20px;
  }
}

/* Изменения стиля переключателей вкладок при наведении */
.tabs > input + label {
  color: #74898e;
  fill: #74898e;
}

.tab1-ul-block {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-flex: 1;
}

.tabs > input:checked + label {
  color: #fff;
  fill: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.tab1-content-menu {
  padding: calc( 10px + 10 * ((100vw - 320px) / 880));
  padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1200 - 320)));
}

.text-tab {
  position: relative;
  bottom: 55px;
  left: 15px;
}

.tab1-text {
  position: relative;
  overflow: hidden;
  display: block;
}

.tab1-text:after {
  content: "";
  position: absolute;
  margin-left: 0.33em;
  bottom: 0.35em;
  width: 100%;
  border-bottom: 0.1em dotted;
}

.tab1-number {
  color: #d8b57a;
  font-weight: 700;
  float: right;
  padding-left: 0.2em;
  width: 10%;
}

.tab1-number:after {
  content: "\0024";
  color: #d8b57a;
}

.text-drinks-tab {
  position: relative;
  bottom: 61px;
  left: 15px;
}

/* Стили для активной вкладки */
svg {
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.svg-icon-drinks {
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 3px;
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

.tabs li > input:checked ~ .tab-content {
  display: block;
}

/* Активация секций с помощью псевдокласса :checked */
#tab1:checked ~ #content-tab1,
#tab2:checked ~ #content-tab2,
#tab3:checked ~ #content-tab3,
#tab4:checked ~ #content-tab4,
#tab5:checked ~ #content-tab5 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  -ms-flex-preferred-size: 1000px;
  flex-basis: 1000px;
}

.tabs li > input:checked + label {
  color: #fff;
  fill: #fff;
}

/* Убираем текст с переключателей 
 * и оставляем иконки на малых экранах
 */
@media screen and (max-width: 767px) {
  .tabs > label {
    font-size: 0;
    margin: 20px;
    max-width: 120px;
    padding: 0;
  }
  .tabs {
    width: calc(100% - 350px);
    margin: auto;
  }
  #tab1:checked ~ #content-tab1,
  #tab2:checked ~ #content-tab2,
  #tab3:checked ~ #content-tab3,
  #tab4:checked ~ #content-tab4,
  #tab5:checked ~ #content-tab5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tab1-number {
    color: #d8b57a;
    font-weight: 700;
    float: right;
    padding-left: 0.2em;
    width: 10%;
  }
  .tab1-number:after {
    content: "\0024";
    color: #d8b57a;
  }
  .tabs > label:before {
    margin: 0;
    font-size: 12px;
  }
}

/* Изменяем внутренние отступы 
 *  переключателей для малых экранов
 */
@media screen and (max-width: 320px) {
  .menu .menu-title__bg {
    background: url(../img/title-border.png) no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    position: relative;
    top: 25%;
    right: 50%;
    left: 50%;
    margin-left: -125px;
    max-height: 8.75em;
    max-width: 15.75em;
  }
  .menu .menu-title__bg h3 {
    font-size: 2.5875em;
  }
  section .tab1-ul-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
  }
}

.team {
  padding: 55px 0 55px 0;
  background: url("../img/footer__contacts.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.team .team--container {
  padding: 60px 0px 0 0px;
}

.team .team__title {
  text-align: center;
}

.team .team__title h3 {
  text-transform: uppercase;
  font-size: 230%;
  font-family: "Raleway", sans-serif;
  position: relative;
}

.team .team__title h3:after {
  content: "";
  position: absolute;
  border: solid 1px #fff;
  top: 50%;
  right: 50%;
  left: 50%;
  margin: 0 0px 0 100px;
  width: 15%;
}

.team .team__title h3:before {
  content: "";
  position: absolute;
  border: solid 1px #fff;
  top: 50%;
  right: 50%;
  margin: 0 100px 0 0;
  width: 15%;
}

.team .team-title__subtitle {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
  padding: 10px 0 0 0;
}

.team .team__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.team .team__description .cooks {
  -webkit-box-flex: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex: 0 0 270px;
  flex: 0 0 270px;
  -ms-flex-preferred-size: 270px;
  flex-basis: 270px;
  font-family: "Raleway", sans-serif;
  margin: 0 0 60px 0;
  padding: calc( 2px + 2 * ((100vw - 320px) / 880));
  padding: calc(1px + (1 - 1) * ((100vw - 320px) / (1170 - 320)));
}

.team .team__description .cooks .cooks__photos {
  max-width: 85%;
  border-radius: 10px;
}

.team .team__description .cooks .cooks__quote {
  margin: 10px 0 0 0;
  max-width: 210px;
  text-align: justify;
  background: #000;
  border-radius: 2px;
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
  padding: 5% 4% 5% 4%;
  border-radius: 3%;
}

.team .team__description .cooks .cooks__name {
  font-size: 22px;
  color: #e84545;
  background: #000;
  border-radius: 100%;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 20px 0 10px 0;
}

.team .team__description .cooks .cooks__subtitle {
  font-size: 13px;
  color: #e84545;
  background: #000;
  border-radius: 100%;
  width: 130px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.team .team__description .cooks .social-icons {
  padding: 35px 0 0 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.team .team__description .cooks .social-icons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 15px 0 0;
  background: #c6cacc;
  border-radius: 50%;
}

.team .team__description .cooks .social-icons li:hover {
  background: #e84545;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.team .team__description .cooks .social-icons li .fab {
  color: #000;
}

.news {
  padding-top: 55px;
  padding-bottom: 55px;
}

@media (max-width: 800px) {
  .news .food-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .news .food-menu .col-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .news .food-menu .col-2 {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .news .food-menu .col-3 {
    right: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .news .food-menu div.food-menu__item {
    margin: 0 0px 50px 0;
  }
  .news .food-menu div.food-menu__item:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    background: #e84545;
    background-size: cover;
    padding: 25px 0 120px 0;
  }
  .news .food-menu div.food-menu__item:nth-child(1) .item__subtitle {
    font-size: 150%;
    text-align: center;
    color: #fff;
  }
  .news .food-menu div.food-menu__item:nth-child(1) .subtitle__quote {
    margin: 50px 0 0 0;
    font-size: 130%;
    text-align: center;
    color: #fff;
  }
  .news .food-menu div.food-menu__item:nth-child(2) .item__subtitle-two {
    font-size: 150%;
    display: flex;
    -ms-flex-pack: end;
    justify-content: end;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: end;
    padding-right: 5px;
    color: #262d2f;
  }
  .news .food-menu div.food-menu__item:nth-child(2) .subtitle__quote-two {
    position: absolute;
    bottom: 2%;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    font-size: 150%;
    text-align: center;
    color: #ffffff;
  }
  .news .food-menu div.food-menu__item:nth-child(2):after {
    content: "";
    position: absolute;
    border: solid 1px #000;
    top: 50%;
    right: 2%;
    margin: -230px 0 0px 0;
    width: 7%;
  }
  .news .food-menu div.food-menu__item:nth-child(3) {
    margin: 0 0 0 0;
  }
  .news .food-menu div.food-menu__item:nth-child(3) .item__text {
    font-size: 1em;
  }
}

.news .news__title {
  text-align: center;
}

.news .news__title h3 {
  text-transform: uppercase;
  font-size: 230%;
  font-family: "Raleway", sans-serif;
  position: relative;
}

.news .news__title h3:after {
  content: "";
  position: absolute;
  border: solid 1px #000;
  top: 50%;
  right: 50%;
  left: 50%;
  margin: 0 0px 0 80px;
  width: 17%;
}

.news .news__title h3:before {
  content: "";
  position: absolute;
  border: solid 1px #000;
  top: 50%;
  right: 50%;
  margin: 0 80px 0 0;
  width: 17%;
}

.news .news-title__subtitle {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
  padding: 10px 0 0 0;
}

.news .food-menu {
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 100%;
}

.news .food-menu .food-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  position: relative;
  margin: 0 0 0 20px;
}

.news .food-menu .food-menu__item:nth-child(1) {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  background: #e84545;
  background-size: cover;
  -ms-flex-preferred-size: 270px;
  flex-basis: 270px;
  padding: 25px 0 120px 0;
}

.news .food-menu .food-menu__item:nth-child(1) .item__subtitle {
  font-size: 130%;
  text-align: center;
  color: #fff;
}

.news .food-menu .food-menu__item:nth-child(1) .subtitle__quote {
  margin: 50px 0 0 0;
  text-align: center;
  color: #fff;
}

.news .food-menu .food-menu__item:nth-child(1):after {
  content: "";
  position: absolute;
  border: solid 1px #ffffff;
  top: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: -75px 0px 0px 0;
  width: 12%;
}

.news .food-menu .food-menu__item:nth-child(2) {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  background: url("../img/food-salad-healthy-vegetables.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex-preferred-size: 570px;
  flex-basis: 570px;
  padding: 25px 0 0px 0;
}

.news .food-menu .food-menu__item:nth-child(2) .item__subtitle-two {
  font-size: 90%;
  display: flex;
  -ms-flex-pack: end;
  justify-content: end;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: end;
  padding-right: 5px;
  color: #f2f2f3;
}

.news .food-menu .food-menu__item:nth-child(2) .subtitle__quote-two {
  position: absolute;
  bottom: 2%;
  width: 100%;
  font-size: 140%;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  background: #222c2e;
}

.news .food-menu .food-menu__item:nth-child(2):after {
  content: "";
  position: absolute;
  border: solid 1px #fff;
  top: 50%;
  right: 2%;
  margin: -80px 0 0px 0;
  width: 7%;
}

.news .food-menu .food-menu__item:nth-child(3) {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  -ms-flex-preferred-size: 270px;
  flex-basis: 270px;
  color: #000;
  background: url("../img/pexels-photo.jpg") no-repeat;
  max-width: 270px;
  overflow-y: hidden;
}

.news .food-menu .food-menu__item:nth-child(3) .item__text {
  position: absolute;
  top: 70%;
  font-size: 0.9em;
  letter-spacing: 1px;
  background: snow;
  -webkit-transform: translateY(-30%);
  transform: translateY(-30%);
}

.news .food-menu .food-menu__item:nth-child(3) .item__text:after {
  content: "";
  position: absolute;
  border: solid 1px #000;
  bottom: 75%;
  left: 1%;
  margin: 50px 0 0px 0;
  width: 10%;
}

.news .food-menu .food-menu__item:nth-child(3) .item__text .subtitle__quote-three {
  padding-top: 25px;
  font-size: 1.3em;
}

.footer__contacts {
  padding-top: 120px;
  padding-bottom: 90px;
  background: url("../img/footer__contacts.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Raleway", sans-serif;
}

.footer__contacts .flx-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__contacts .flx-contacts .flx-column__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.footer__contacts .flx-contacts .flx-column__form .contact {
  margin: 45px 0 0 0;
}

.footer__contacts .flx-contacts .flx-column__form .contact p {
  padding: 0 0 20px 0;
}

.footer__contacts .flx-contacts .flx-column__form .contact a {
  color: #fff;
  padding: 0 0px 0 20px;
  letter-spacing: 0.1em;
}

.footer__contacts .flx-contacts .flx-column__form .contact a:hover {
  color: #ac0b0b;
}

.footer__contacts .flx-contacts .flx-column__form .contact .fa-phone {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  font-size: 20px;
}

.footer__contacts .flx-contacts .flx-column__form .contact .fa-map-marker-alt,
.footer__contacts .flx-contacts .flx-column__form .contact .fa-envelope,
.footer__contacts .flx-contacts .flx-column__form .contact .fa-phone {
  color: #fff;
}

.footer__contacts .flx-contacts h4 {
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 28px;
}

.footer__contacts .flx-contacts h4 span {
  padding: 0 0 3px 0;
  border-bottom: solid 2px #d8b57a;
}

.footer__contacts .flx-contacts .our-newsletter {
  color: #fff;
  text-align: center;
}

.footer__contacts .flx-contacts .our-newsletter p {
  padding-bottom: 20px;
}

.footer__contacts .flx-contacts .our-newsletter .our-newsletter__form {
  margin: 25px 0 0 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
}

.footer__contacts .flx-contacts .our-newsletter .our-newsletter__form input {
  margin: 0 0 15px 0;
}

.footer__contacts .flx-contacts .our-newsletter .our-newsletter__form .form__email {
  padding: 0 0px 0 10px;
  height: 40px;
}

.footer__contacts .flx-contacts .our-newsletter .our-newsletter__form .form__button {
  background: #ac0b0b;
  width: 85px;
  height: 45px;
  letter-spacing: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 700;
}

.footer__contacts .flx-contacts .our-newsletter .our-newsletter__form .form__button:hover, .footer__contacts .flx-contacts .our-newsletter .our-newsletter__form .form__button:focus {
  background: transparent;
  color: #fff;
  border: solid 2px #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.footer__contacts .flx-contacts .about__bon-appetit {
  color: #fff;
  padding: 0 0 60px 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
}

.footer__contacts .flx-contacts .about__bon-appetit blockquote {
  text-align: justify;
}

.footer__contacts .flx-contacts .about__bon-appetit .be__social {
  padding: 30px 15px 0 15px;
  color: #fff;
}

.footer__contacts .flx-contacts .about__bon-appetit .be__social .social__title {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.1em;
  display: block;
  padding: 10px 0 10px 0;
}

.footer__contacts .flx-contacts .about__bon-appetit .be__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts .flx-contacts .about__bon-appetit .be__social ul li {
  margin: 0 10px 0 0;
  border: solid #fff 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.footer__contacts .flx-contacts .about__bon-appetit .be__social ul li:hover {
  background: #ac0b0b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__contacts .flx-contacts .about__bon-appetit .be__social ul li i {
  color: #fff;
}

.footer {
  background: #252525;
  line-height: 100px;
  font-family: "Dancing Script", cursive;
}

.footer address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer address p {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
  font-size: 80%;
  color: #ac0b0b;
}

/* ScrollToTop button */
.scrolltotop {
  opacity: 0;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0px;
  right: 30px;
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #008169;
  -webkit-animation: bounce 0.9s infinite;
  animation: bounce 0.9s infinite;
  /* Анимацию bounce пропишем ниже */
}

.scrolltotop:hover {
  background-color: #f79008;
  border-radius: 100%;
}

.scrolltotop:active {
  background-color: #f70808;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: -5px;
  }
}

@keyframes bounce {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: -5px;
  }
}

/* background - цвет кнопки*/
.scrolltotop span {
  color: #fff;
}

.showScrolltop {
  font-size: 25px;
  opacity: 0.5;
  line-height: 50px;
}

@media (min-width: 320px) and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .best-in-town {
    padding: 50px 0 30px 0;
  }
  .header-title {
    width: 320px;
  }
  .footer__contacts {
    padding-bottom: 180px;
  }
  .footer__contacts h4 {
    text-align: center;
  }
  .footer__contacts address {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .footer__contacts .our-newsletter {
    padding-top: 70px;
    text-align: center;
  }
  .footer__contacts .our-newsletter .form__email {
    padding: 0 0px 0 0px;
  }
  .footer__contacts .our-newsletter .form__button {
    background: #ac0b0b;
    max-width: 85px;
    min-height: 45px;
    font-size: 10px;
    color: #fff;
  }
  .footer__contacts .our-newsletter .form__button:hover,
  .footer__contacts .our-newsletter .form__button :focus {
    background: #000;
    color: #000;
    border: solid 2px #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .hot-main-dishes__column {
    margin-bottom: 100px;
    max-width: 17em;
  }
}

.wrap-team {
  padding-top: 150px;
}

.wrap-team .team--title {
  text-align: center;
  text-transform: uppercase;
  font-size: 230%;
  font-family: "Raleway", sans-serif;
  position: relative;
}

.wrap-team .team--title:after {
  content: "";
  position: absolute;
  border: solid 1px #000;
  top: 50%;
  right: 50%;
  left: 50%;
  margin: 0 0px 0 80px;
  width: 17%;
}

.wrap-team .team--title:before {
  content: "";
  position: absolute;
  border: solid 1px #000;
  top: 50%;
  right: 50%;
  margin: 0 80px 0 0;
  width: 17%;
}

.wrap-team .team-title__subtitle {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
  padding: 10px 0 0 0;
}

.wrap-team .team-flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
}

.wrap-team .team-flx .team-column {
  max-width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
  margin-bottom: 60px;
  font-family: "Dancing Script", cursive;
  font-size: 1.1em;
  font-weight: 700;
}

.wrap-team .team-flx .team-column .team__name {
  color: #008169;
  font-size: 25px;
}

.wrap-team .team-flx .team-column .team__subname {
  color: #ac0b0b;
  font-size: 22px;
}

.wrap-team .team-flx .team-column .team__qoute {
  padding-top: 15px;
  text-align: justify;
}

.wrap-team .team-flx .team-column .team-img {
  max-width: 100%;
  padding-bottom: 15px;
}

.wrap-team .team-flx .team-column .team-icons {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.wrap-team .team-flx .team-column .team-icons li {
  border: solid #0e0d0d 2px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.wrap-team .team-flx .team-column .team-icons li:hover {
  background: #ac0b0b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wrap-team .team-flx .team-column .team-icons li i {
  color: #0c0c0c;
}

@media (max-width: 768px) {
  .header__burger.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__body {
    height: 30px;
    z-index: 1;
  }
  .header__body .header__logo {
    max-width: 100%;
    margin: auto;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #e54747;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #e54747;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__nav {
    font-family: "Merienda", cursive;
    position: fixed;
    overflow: auto;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 3, 3, 0.8);
    padding: 150px 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__nav .header__list {
    display: block;
  }
  .header__nav .header__list li {
    margin: 0 0 60px 0;
    text-align: center;
  }
  .header__nav.active {
    top: 0;
  }
}

.wrap-menu {
  padding: 220px 0 0 0;
  font-family: "Raleway", sans-serif;
}

.wrap-menu .menu--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative;
  margin: 0 0 180px;
  padding-top: 30px;
}

.wrap-menu .menu--menu .menu--number {
  color: #e84545;
  font-weight: 700;
  float: right;
  padding-left: 0.2em;
  width: 10%;
}

.wrap-menu .menu--menu .menu--number:after {
  content: "\0024";
  color: #e84545;
}

.wrap-menu .menu--menu .menu--title {
  text-align: center;
}

.wrap-menu .menu--menu .menu--title h4 {
  font-size: 25px;
  font-weight: 700;
}

.wrap-menu .menu--menu .menu--title p {
  width: 300px;
  font-size: 22px;
}

.wrap-menu .menu--menu .menu--title .title--drinks {
  margin-bottom: 10px;
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.wrap-menu .menu--menu .menu--title .title--drinks p {
  padding-top: 10px;
  font-family: "Dancing Script", cursive;
}

.wrap-menu .menu--menu .menu--title svg {
  position: absolute;
  top: -110px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.wrap-menu .menu--menu .menu--title:hover {
  fill: #ac0b0b;
  color: #ac0b0b;
  cursor: pointer;
}

.wrap-menu .menu--menu .menu--title .menu--title__title {
  margin-bottom: 10px;
  position: absolute;
  top: -45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 25px;
}

.wrap-menu .menu--menu .menu--title .menu--title__title p {
  padding-top: 10px;
  font-family: "Dancing Script", cursive;
}

.wrap-menu .menu--menu .menu-ul {
  margin-top: 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.wrap-menu .menu--menu .menu-ul .new:after {
  content: "NEW!";
  background: #e84545;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px;
  color: #fff;
  margin-left: 10px;
}

.news-blog {
  padding: 150px 0 110px 0;
  background: #008169;
  background-size: cover;
  color: #c2c2c2;
}

.news-blog .flx-contr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.news-blog .flx-contr .main-flx-wrap {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 600px;
  flex: 0 1 600px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column {
  font-family: "Raleway", sans-serif;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column:nth-child(1) {
  margin: 0 0 50px 0;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column:nth-child(2) {
  margin: 0 0 50px 0;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column img {
  max-width: 100%;
  border-radius: 20px;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .date-time-author {
  margin: 15px 0 0 0;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .date-time-author .time {
  display: inline-block;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .date-time-author .time::after {
  content: "";
  border: 1px solid #d8b57a;
  margin: 0 0 0 10px;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .date-time-author span {
  margin: 0 0px 0 10px;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .column-title {
  margin: 10px 0 10px 0;
  font-size: 1.1rem;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .column-quote {
  max-width: 760px;
  text-align: justify;
  padding-bottom: 50px;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .column-tags {
  display: block;
  margin-bottom: 50px;
  color: #ecb00b;
  font-weight: 600;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .title-comment {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .mr-comment {
  margin-left: 80px;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .row-comment {
  padding: 40px 0 50px 0;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .row-comment .comment-datatime {
  color: #000000;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .row-comment img {
  max-width: 100%;
  width: 50px;
  height: 50px;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .row-comment .img-name-date-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .row-comment .img-name-date-time .name-date-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  padding: 0 0 0 25px;
  text-transform: uppercase;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .row-comment .img-name-date-time .name-date-time h6 {
  padding: 0 0 5px 0;
  font-size: 15px;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .row-comment .comment-quote {
  padding: 20px 0 0 0;
  max-width: 600px;
  text-align: justify;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .comment-form legend {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .comment-form .left-block-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  float: left;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .comment-form .right-block-form {
  float: right;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .comment-form .right-block-form .form-comment__btn {
  font-size: 20px;
  letter-spacing: 0.1em;
  margin: 15px 0 0 0;
  width: 100px;
  max-width: 100px;
  border-radius: 5px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #e84545;
  color: #fff;
  font-weight: 600;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .comment-form .right-block-form .form-comment__btn:hover, .news-blog .flx-contr .main-flx-wrap .main-flx-column .comment-form .right-block-form .form-comment__btn:focus {
  background: transparent;
  color: #000;
  border: solid 2px #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .comment-form input {
  max-width: 270px;
  height: 45px;
  margin-bottom: 45px;
  padding: 10px;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .comment-form input:nth-child(1) {
  margin-top: 30px;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .comment-form .form--comment-area {
  display: block;
  margin: 30px 0 0 0;
  height: 280px;
  padding: 10px;
  resize: none;
  overflow: auto;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .comment-form input::-webkit-input-placeholder {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .comment-form input:-ms-input-placeholder {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .comment-form input::-ms-input-placeholder {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.news-blog .flx-contr .main-flx-wrap .main-flx-column .comment-form input::placeholder {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 767px) {
  .news-blog .flx-contr .main-flx-wrap .main-flx-column .comment-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.news-blog .flx-contr .aside div {
  margin: 0 30px;
}

.news-blog .flx-contr .aside .recent-posts {
  padding: 0 0 50px 0;
}

.news-blog .flx-contr .aside .our-newsletter {
  padding: 0 0 50px 0;
}

.news-blog .flx-contr .aside .our-newsletter .aside-email-form {
  margin: 20px 0 20px 0;
  padding: 0 0 0 10px;
  border: 2px solid #4d4d4c;
  width: 220px;
  height: 45px;
}

.news-blog .flx-contr .aside .our-newsletter .aside-button {
  display: block;
  letter-spacing: 0.1em;
  width: 80px;
  max-width: 80px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e84545;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
}

.news-blog .flx-contr .aside .our-newsletter .aside-button:hover, .news-blog .flx-contr .aside .our-newsletter .aside-button:focus {
  background: transparent;
  color: #000;
  border: solid 2px #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.news-blog .flx-contr .aside h6 {
  margin: 0 0 20px;
  font-size: 20px;
}

.news-blog .flx-contr .aside h6 span {
  padding: 0 0 3px 0;
  border-bottom: 3px solid #d8b57a;
}

.news-blog .flx-contr .aside p {
  width: 220px;
}

.news-blog .flx-contr .aside .aside__article {
  padding: 0 0 30px 0;
  position: relative;
}

.news-blog .flx-contr .aside .aside__article:before {
  display: block;
  content: "";
  border-bottom: 1px solid #000;
  width: 22px;
  position: absolute;
  bottom: 15px;
}

.news-blog .flx-contr .aside .be-social {
  padding: 60px 0 110px 0;
}

.news-blog .flx-contr .aside .be-social .aside-icons {
  margin: 15px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-blog .flx-contr .aside .be-social .aside-icons li {
  margin: 0 10px 0 0;
  border: solid #000 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.news-blog .flx-contr .aside .be-social .aside-icons li:hover {
  background: #e98f8f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news-blog .flx-contr .aside .be-social .aside-icons li i {
  color: #000;
}

.news-blog .btn-previous {
  position: absolute;
  left: 50px;
  bottom: -80px;
  height: 65px;
  width: 50px;
}

.news-blog .btn-previous svg:hover {
  fill: #ac0b0b;
  background: #000000;
  border-radius: 100%;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.news-blog .btn-next {
  position: absolute;
  right: 50px;
  bottom: -80px;
  height: 65px;
  width: 50px;
}

.news-blog .btn-next svg:hover {
  fill: #ac0b0b;
  background: #000000;
  border-radius: 100%;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

@media (max-width: 1024px) {
  .news-blog .aside {
    display: none;
  }
}

.wrap-contacts {
  padding: 150px 0 0px 0;
  background: #4d4d4c;
}

.wrap-contacts .title-contacts {
  text-align: center;
  text-transform: uppercase;
  font-size: 230%;
  font-family: "Raleway", sans-serif;
  position: relative;
}

.wrap-contacts .title-contacts:after {
  content: "";
  position: absolute;
  border: solid 1px #000;
  top: 50%;
  right: 50%;
  left: 50%;
  margin: 0 0px 0 110px;
  width: 12%;
}

.wrap-contacts .title-contacts:before {
  content: "";
  position: absolute;
  border: solid 1px #000;
  top: 50%;
  right: 50%;
  margin: 0 110px 0 0;
  width: 12%;
}

.wrap-contacts .subtitle-contacts {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}

.wrap-contacts .form-contacts {
  margin: 80px 0 0px 0;
  max-width: 100%;
}

.wrap-contacts .form-contacts .contacts-name input {
  margin: 0 0px 20px 0px;
  border: solid 2px #000;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 250px;
  flex: 0 1 250px;
  padding: 10px;
}

.wrap-contacts .form-contacts .contacts-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap-contacts .form-contacts .contacts-comments textarea {
  border: solid 2px #000;
  padding: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 500px;
  flex: 0 1 500px;
  resize: none;
}

.wrap-contacts .form-contacts .btn-form {
  margin: 20px 0 0 0;
  border: solid 2px #000;
  background: #ac0b0b;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  width: 80px;
  height: 50px;
  letter-spacing: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrap-contacts .form-contacts .btn-form:hover, .wrap-contacts .form-contacts .btn-form:focus {
  background: transparent;
  color: #000;
  border: solid 2px #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.wrap-contacts .flx-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrap-contacts .flx-container .bg-relative {
  position: relative;
  width: 25.15em;
  min-height: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  z-index: 1;
  margin: 0 0 200px 0;
}

.wrap-contacts .flx-container .bg-relative .bg-coordinates-maps {
  background: #222c2e;
  text-align: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin: 80px 0 0px 0;
  position: absolute;
}

.wrap-contacts .flx-container .bg-relative .bg-coordinates-maps .coordinates-img img {
  max-width: 100%;
}

.wrap-contacts .flx-container .bg-relative .bg-coordinates-maps .info-coordinates {
  border: 2px solid;
  margin: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 45px 0 60px 0;
}

.wrap-contacts .flx-container .bg-relative .bg-coordinates-maps .info-coordinates span {
  padding: 0 0 3px 0;
  border-bottom: 2px solid #d8b57a;
}

.wrap-contacts .flx-container .bg-relative .bg-coordinates-maps .info-coordinates address {
  padding: 20px 0 30px 0;
  max-width: 300px;
  margin: auto;
}

.wrap-contacts .flx-container .bg-relative .bg-coordinates-maps .info-coordinates h5 {
  font-size: 18px;
}

.wrap-contacts .flx-container .bg-relative .bg-coordinates-maps .info-coordinates h6 {
  font-size: 16px;
  padding: 10px 0 10px 0;
}

.contacts-maps .google-maps {
  visibility: hidden;
  position: absolute;
  z-index: 100;
}

.contacts-maps iframe {
  height: 300px;
  width: 100vw;
}

@media (max-width: 767px) {
  .contacts-name {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */