// ИСПОЛЬЗУЮ SCSS and FLEXbox
// использую ШРИФТЫ
// font-family: 'Alex Brush', cursive;
// font-family: 'Dancing Script', cursive;
// font-family: 'Hanalei', cursive;
// font-family: 'Merienda', cursive;
// font-family: 'Raleway', sans-serif;
// БЫЛО ПРИНЯТО РЕШЕНИЕ СДЕЛАТЬ ОТЗЫВЧИВО - АДАПТИВНУЮ ВЕРСТКУ
// В ПРОЕКТЕ . ИСПОЛЬЗУЮТСЯ ПОМИМО PX, ЕДЕНИЦЫ ИЗМЕРЕНИЯ "EM", ТАК ЖЕ % И VW , VH
// ЭТО МОЙ ПЕРВЫЙ СЕРЬЕЗНЫЙ ПРОЕКТ, ПОЭТОМУ ИЗМЕНЕНИЯ В СДЕЛАННЫХ БЛОКАХ ЕЩЕ БУДУТ ВНЕСЕНЫ И ЗАКОММИЧЕНЫ!!!
// ВЕРСТКА ВЕДЕТСЯ С НЕКОТОРЫМИ ЛИЧНЫМИ ПРАВКАМИ  (ТОГО , ЧТО НЕТ В МАКЕТЕ ЭТО ВКЛЮЧАЕТ В СЕБЯ ТЕКСТ-СТИЛИЗАЦИЮ, ХОВЕРЫ И Т.Д )
// Основные спецификации
// АДАПТИВНОЕ СВОЙСТВО 
$maxWidth: 1920;
$maxWidthContainer: 1170;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else if $type==2 {
    // Только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
      );
    }
  } @else {
    //Всегда
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
    );
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
// html and body СВОЙСТВА для того, чтобы контен тне вылазил за пределы макета
html{
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}
 body
 {
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
 }
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
.container {
  max-width: 73.125em;
  padding: 0 0.9375em;
  margin: auto;
}
// ШАПКА САЙТА 1 БЛОК
.header-restaurant {
  font-family: "Merienda", cursive;
  min-height: 49.5625em;
  height: 100vh;
  background: url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .header-container {
    padding: 2.5em 0px 6.25em;
  }
  // СТИЛИ ЛОГО
  .header-restaurant__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // СТИЛИ МЕНЮ НАВИГАЦИИ
  .header-menu {
    .header-menu__items {
      display: flex;
      justify-content: space-around;
      max-width: 43.75em;
      margin: 1.875em auto 0;
      .header-menu__link {
        color: #c3c2c2;
        &:hover,
        &:focus {
          color: rgba(232, 69, 69, 1);
          border-radius: 0.25em;
          transition: ease 0.3s;
        }
        &:active {
          color: #fff;
          background: #e84545;
        }
      }
    }
  }
  // СТИЛИ ЗАГОЛОВКА И ПАРАГРАФА С КНОПКОЙ
  .header-title {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    h1 {
      font-family: "Alex Brush", cursive;
      font-size: 4.0625em;
      font-weight: 700;
      line-height: 71px;
      color: #fff;
      margin: 65px 0 26px;
      &::first-letter {
        color: #e84545;
        font-size: 2em;
      }
    }
    p {
      color: #c3c2c2;
      max-width: 600px;
      padding: 0 25px 0 25px;
      span {
        color: #e84545;
      }
    }
    .header__btn {
      margin: 30px 0 0;
      background: #e84545;
      color: #fff;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12.5em;
      height: 2.875em;
      &:hover,
      &:focus {
        background-color: transparent;
        border: 0.125em solid #e84545;
        transition: all 0.3s;
      }
      &:active {
        background: transparent;
        transform: scale(1.1);
      }
    }
  }
}
//  Форма Ресторана 2 БЛОК
// Иконки в инпутах были сделаны в кроссбраузерном РЕШЕНИИ - это fontAWESOME
// Я ПОСТАВИЛ BACKGROUND TRANSPARENT - то есть прозрачный , для стандартной иконки браузера(Chrome)
// и поставил z-index чтобы можно было кликнуть по календарю и времени
.block-restaurant-form {
  padding: 1.6875em 0 1.6875em;
  text-align: center;
  h2 {
    font-family: "Merienda", cursive;
    padding: 0 0 25px;
    font-size: 40px;
    &::first-letter {
      color: #e84545;
      font-size: 1.4em;
    }
  }
  .restaurant__form {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    label {
      position: relative;
    }
    i.fa-calendar {
      position: absolute;
      top: 18%;
      left: 17%;
      z-index: 100;
      font-size: 28px;
      z-index: 100;
    }
    .form__date {
      position: relative;
      &[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        left: -0.9em;
        width: 1.625em;
        height: 1.625em;
        background: transparent;
        z-index: 999;
      }
    }
    i.fa-clock {
      position: absolute;
      top: 18%;
      left: 17%;
      z-index: 100;
      font-size: 28px;
      z-index: 100;
    }
    .form__time {
      position: relative;
      &[type="time"]::-webkit-calendar-picker-indicator {
        position: absolute;
        left: 0.3em;
        width: 1.625em;
        height: 1.625em;
        background: transparent;
        z-index: 999;
      }
    }
    i.fa-user-friends {
      position: absolute;
      top: 18%;
      left: 15%;
      z-index: 100;
      font-size: 28px;
      z-index: 100;
    }
    .form__btn {
      font-family: "Raleway", sans-serif;
      width: 12.5em;
      height: 3.175em;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      background: #e84545;
      &:hover,
      &:focus {
        background: transparent;
        color: #000;
        border: 1px solid #e84545;
        transition: all 0.3s;
      }
      &:active {
        background: transparent;
        transform: scale(1.1);
      }
    }
    input,
    button {
      border-radius: 6px;
      margin: 0 30px 30px;
    }
    input {
      width: 200px;
      min-height: 56px;
      border: solid 0.0625em #c2c2c2;
      padding: 0 3.325em;
    }
  }
}
// Best in Town это БЛОК ПОСЛЕ ФОРМЫ ПОД ХЭДЕРОМ
.best-in-town {
  background: #fff;
  padding: 4.0625em 0 5.9375em 0;
  .best-in-town__title {
    text-align: center;
    font-family: "Dancing Script", cursive;
    color: #000;
    & > h3 {
      font-size: 6.3125em;
      &::first-letter {
        color: #e84545;
      }
    }
    & > p {
      font-size: 2.8125em;
      &::first-letter {
        color: #e84545;
      }
    }
  }
  .main-dishes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    margin-top: 4.0625em;
    .hot-img__bg {
      position: relative;
      max-width: 100%;
      & img:nth-child(1) {
        position: absolute;
        top: 80%;
        left: 5%;
      }
    }
    .hot-main-dishes__column {
      position: relative;
      min-width: 18.75em;
      min-height: 25em;
      @media screen and (min-width: 240px) and (max-width: 789px) {
        & {
          margin: 0 50px 50px;
        }
      }
      .hot__column {
        font-family: "Raleway", sans-serif;
        background: #fff;
        display: flex;
        flex-flow: column;
        align-items: center;
        position: absolute;
        // общий отступ заголовка
        h4 {
          margin-top: 1.875em;
        }
        // КЛАСС ЗАГОЛОВКУ был дан , как решение проблемы , после лобавления картинки "HOT" В КРАЙНЮЮ С ЛЕВОЙ СТОРОНЫ КАРТИНКУ БЛОКА... в БЛОК ЛУЧШИЕ БЛЮДА
        .hot__h4 {
          margin-top: 1.25em;
        }
        p {
          margin-top: 1.045em;
          max-width: 15em;
          text-align: justify;
          white-space: nowrap; /* Запрещаем перенос строк */
          overflow: hidden; /* Обрезаем все, что не помещается в область */
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis; /* Добавляем многоточие */
          font-family: "Merienda", cursive;
        }
        .hot-descr__p {
          margin-top: 0.8125em;
        }
        .hot-column__img {
          max-width: 100%;
          border-radius: 30%;
        }
        &:hover {
         z-index: 100;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
    border-radius: 10px;
    background: #ac0b0b radial-gradient(circle at 50% 0, rgba(22, 21, 21, 0.65), rgba(223, 238, 8, 0.767));
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(196, 250, 3, 0.7) 0 3px 8px, rgba(8, 8, 8, 0.8) 0 3px 8px -3px;
    box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(196, 386, 17, 0.7) 0 3px 8px, rgba(19, 8, 8, 0.8) 11 8px 8px -3px;
    height: auto;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: #fff;
    padding: 0.8125em;
        }
        // ОТОБРАЖАЕМ ТЕКСТ СКРЫТЫЙ ЗА МНОГОТОЧИЕМ
        &:hover p {
          overflow: visible;
          white-space: normal;
        }
      }
    }
  }
}
// МЕНЮ РЕСТОРАНА
// В ДАННОМ БЛОКЕ РАМКА ОБРАМЛЯЮЩАЯ ТЕКСТ MENU БЫЛА СДЕЛАНА БЭКГРАУНДОМ И НЕ НУЖДАЕТСЯ В ДАЛЬНЕЙШИХ МЕДИА!!!  ЭТО МОЙ ЛИЧНАЯ НАРАБОТКА С ПРОШЛЫХ ТРЕНИРОВОЧНЫХ ЛЭНДИНГОВ
.menu {
  background: #222c2e;
  padding: 5.1875em 0 5.1875em;
  min-height: 700px;
  .menu-title__paragraph {
    margin: 30px 0 0 0;
    color: #fff;
    font-family: "Merienda", cursive;
    text-align: center;
  }
  .menu-title__bg {
    background: url("../img/title-border.png") no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    position: relative;
    top: 25%;
    right: 50%;
    left: 50%;
    margin-left: -150px;
    max-height: 8.75em;
    max-width: 18.75em;
  }
  .menu__title {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    // ИСПОЛЬЗУЮ ПИКСЕЛИ В ПАДДИНГАХ, ПРИЧИНА - ЕСЛИ ИСПОЛЬЗОВАТЬ EM , ТО ТЕКСТ СМЕЩАЕТСЯ С РАМКИ ВНИЗ
    h3 {
      font-family: "Raleway", sans-serif;
      font-size: 3.1875em;
      font-weight: 700;
      padding: 20px 20px 20px 20px;
      color: #fff;
      text-transform: uppercase;
    }
  }
}
.menu-restaurant {
  margin: 100px 0 0 0;
}
/* Базовый контейнер табов */
.tabs {
  min-width: 320px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
h5 {
	margin: 0 0 10px 0;
}
/* Стили секций с содержанием */
.tabs > section {
  display: none;
  padding: 15px;
}
/* Прячем чекбоксы */
.tabs > input {
  display: none;
  position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs > label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 0px 40px;
}
/* Изменения стиля переключателей вкладок при наведении */

.tabs > input + label {
  color: #74898e;
  fill: #74898e;
}
.tab1-ul-block {
  display: block;
  min-width: 440px;
}
.mr-right {
  margin: 0 0 0 75px;
}
.tabs > input:checked + label {
  color: #fff;
  fill: #fff;
  cursor: pointer;
  transition: all 0.4s;
}
.tab1-content-menu {
  @include adaptiv-value("padding", 20, 10, 0);
  padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1200 - 320)));
}
.text-tab {
  position: relative;
  bottom: 55px;
  left: 15px;
}
.tab1-text {
  position: relative;
  overflow: hidden;
  display: block;
  &:after {
    content: "";
    position: absolute;
    margin-left: 0.33em;
    bottom: 0.35em;
    width: 100%;
    border-bottom: 0.1em dotted;
  }
}
.tab1-number {
  color: #d8b57a;
  font-weight: 700;
  float: right;
  padding-left: 0.2em;
  width: 10%;
  &:after {
    content: "\0024";
    color: #d8b57a;
  }
}
.text-drinks-tab {
  position: relative;
  bottom: 61px;
  left: 15px;
}
/* Стили для активной вкладки */
svg {
  position: relative;
  transform: translateY(-50%);
}
.svg-icon-drinks {
  position: relative;
  transform: translateY(-50%);
  top: 3px;
}
svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}
.tabs li > input:checked ~ .tab-content {
  display: block;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked ~ #content-tab1,
#tab2:checked ~ #content-tab2,
#tab3:checked ~ #content-tab3,
#tab4:checked ~ #content-tab4,
#tab5:checked ~ #content-tab5 {
  display: flex;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  max-width: 940px;
 
}
.tabs li > input:checked + label {
  color: #fff;
  fill: #fff;
}
/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/
@media screen and (max-width: 698px) {
  .tabs > label {
    font-size: 0;
    margin: 20px;
    max-width: 120px;
    padding: 0;
  }
  .tabs {
	max-width: 250px;   
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
 }
  /* Базовый контейнер табов */
  .menu {
	 max-height: max-content;
  }
  #tab1:checked ~ #content-tab1,
  #tab2:checked ~ #content-tab2,
  #tab3:checked ~ #content-tab3,
  #tab4:checked ~ #content-tab4,
  #tab5:checked ~ #content-tab5 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .tab1-ul-block {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: 320px;
    font-size: 12px;
  }
  .mr-right {
    margin: 0;
  }
  .tab1-number {
    color: #d8b57a;
    font-weight: 700;
    float: right;
    padding-left: 0.2em;
    width: 10%;
    &:after {
      content: "\0024";
      color: #d8b57a;
    }
  }
  .tabs > label:before {
    margin: 0;
    font-size: 12px;
  }
}
/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 320px) {
	.menu {
		.menu-title__bg {
			background: url(../img/title-border.png) no-repeat;
			background-size: 100%;
			background-position: 50% 50%;
			position: relative;
			top: 25%;
			right: 50%;
			left: 50%;
			margin-left: -125px;
			max-height: 8.75em;
			max-width: 15.75em;
			h3 {
				font-size: 2.5875em;
			}
	  }
	}
	.tabs {
		min-width: 250px;	
	}
	 .tab1-ul-block {
		display: flex;
		flex-flow: column;
		align-items: center;
		min-width: 250px;
		font-size: 12px;
	 } 
  .mr-right {
	margin: 0;
 }
}
//      TEAM ресторана
.team {
	padding: 55px 0 55px 0;
	.team--container {
		padding: 60px 0px 0 0px;
	}
	.team__title {
		text-align: center;
		h3 {
			text-transform: uppercase;
			font-size: 230%;
			font-family: 'Raleway', sans-serif;
			position: relative;
			// Адаптивные псевдо ЭЛЕМЕНТЫ
			&:after {
				content: "";
				position: absolute;
				border: solid 1px #000;
				top: 50%;
				right: 50%;
				left: 50%;
				margin: 0 0px 0 100px;
				width: 17%;
			}
			&:before {
				content: "";
				position: absolute;
				border: solid 1px #000;
				top: 50%;
				right: 50%;
				margin: 0 100px 0 0;
				width: 17%;
			}
		}
	}
	.team-title__subtitle {
		text-align: center;
		font-family: 'Dancing Script', cursive;
		font-size: 24px;
		padding: 10px 0 0 0;
	}
	.flex-blocks {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow: row wrap;
	}
	@media (max-width: 698px) {
		.flex-blocks {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.team__description {
		display: flex;
		max-width: 100%;
		justify-content: center;
		align-items: center;
		transform: translateX(2%);
		.cooks {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-family: 'Raleway', sans-serif;
			margin: 0 0 40px 0;
			@include adaptiv-value("padding", 4, 2, 0);
  padding: calc(1px + (1 - 1) * ((100vw - 320px) / (1170 - 320)));
			.cooks__photos {
				max-width: 90%;
			}
			.cooks__quote {
				margin: 10px 0 0 0;
				max-width: 210px;
				text-align: justify;
			}
			.cooks__name {
				font-size: 22px;
				color: #57595c;
				margin: 20px 0 10px 0;
			}
			.cooks__subtitle {
				font-size: 13px;
				color: #e84545;
				text-transform: uppercase;
			}
			.social-icons {
				padding: 35px 0 0 0;
				display: inline-flex;
				& li {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 40px;
					height: 40px;
					margin: 0 15px 0 0;
					background: #c6cacc;
					border-radius: 50%;
					&:hover {
						background: #30bae7;		
						transition: ease 0.5s;
					}
					.fab {
						color: #fff; 
					}
				}
			}
		}
	}
}