// ИСПОЛЬЗУЮ SCSS and FLEXbox
// использую ШРИФТЫ
// font-family: 'Alex Brush', cursive;
// font-family: 'Dancing Script', cursive;
// font-family: 'Hanalei', cursive;
// font-family: 'Merienda', cursive;
// font-family: 'Raleway', sans-serif;
// БЫЛО ПРИНЯТО РЕШЕНИЕ СДЕЛАТЬ ОТЗЫВЧИВО - АДАПТИВНУЮ ВЕРСТКУ
// В ПРОЕКТЕ . ИСПОЛЬЗУЮТСЯ ПОМИМО PX, ЕДЕНИЦЫ ИЗМЕРЕНИЯ "EM", ТАК ЖЕ % И VW , VH
// ЭТО МОЙ ПЕРВЫЙ СЕРЬЕЗНЫЙ ПРОЕКТ, ПОЭТОМУ ИЗМЕНЕНИЯ В СДЕЛАННЫХ БЛОКАХ ЕЩЕ БУДУТ ВНЕСЕНЫ И ЗАКОММИЧЕНЫ!!!
// ВЕРСТКА ВЕДЕТСЯ С НЕКОТОРЫМИ ЛИЧНЫМИ ПРАВКАМИ  (ТОГО , ЧТО НЕТ В МАКЕТЕ ЭТО ВКЛЮЧАЕТ В СЕБЯ ТЕКСТ-СТИЛИЗАЦИЮ, ХОВЕРЫ И Т.Д )
// Основные спецификации
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
.container {
  max-width: 73.125em;
  padding: 0 0.9375em;
  margin: auto;
}
// ШАПКА САЙТА 1 БЛОК
.header-restaurant {
  font-family: "Merienda", cursive;
  min-height: 38.5625em;
  height: 100vh;
  background: url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .header-container {
    padding: 2.5em 0px 6.25em;
  }
  // СТИЛИ ЛОГО
  .header-restaurant__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // СТИЛИ МЕНЮ НАВИГАЦИИ
  .header-menu {
    .header-menu__items {
      display: flex;
      justify-content: space-around;
      max-width: 43.75em;
      margin: 1.875em auto 0;
      .header-menu__link {
        color: #c3c2c2;
        &:hover,
        &:focus {
          color: rgba(232, 69, 69, 1);
          border-radius: 0.25em;
          transition: ease 0.3s;
        }
        &:active {
          color: #fff;
          background: #e84545;
        }
      }
    }
  }
  // СТИЛИ ЗАГОЛОВКА И ПАРАГРАФА С КНОПКОЙ
  .header-title {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    h1 {
      font-family: "Alex Brush", cursive;
      font-size: 4.0625em;
      font-weight: 700;
      line-height: 71px;
      color: #fff;
      margin: 65px 0 26px;
      &::first-letter {
        color: #e84545;
        font-size: 2em;
      }
    }
    p {
      color: #c3c2c2;
      max-width: 600px;
      padding: 0 25px 0 25px;
      span {
        color: #e84545;
      }
    }
    .header__btn {
      margin: 30px 0 0;
      background: #e84545;
      color: #fff;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12.5em;
      height: 2.875em;
      &:hover,
      &:focus {
        background-color: transparent;
        border: 0.125em solid #e84545;
        transition: all 0.3s;
      }
      &:active {
        background: transparent;
        transform: scale(1.1);
      }
    }
  }
}
//  Форма Ресторана 2 БЛОК
// Иконки в инпутах были сделаны в кроссбраузерном РЕШЕНИИ - это fontAWESOME
// Я ПОСТАВИЛ BACKGROUND TRANSPARENT - то есть прозрачный , для стандартной иконки браузера(Chrome)
// и поставил z-index чтобы можно было кликнуть по календарю и времени
.block-restaurant-form {
  padding: 1.6875em 0 1.6875em;
  text-align: center;
  h2 {
    font-family: "Merienda", cursive;
    padding: 0 0 25px;
    font-size: 40px;
    &::first-letter {
      color: #e84545;
      font-size: 1.4em;
    }
  }
  .restaurant__form {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    label {
      position: relative;
    }
    i.fa-calendar {
      position: absolute;
      top: 18%;
      left: 17%;
      z-index: 100;
      font-size: 28px;
      z-index: 100;
    }
    .form__date {
      position: relative;
      &[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        left: -0.9em;
        width: 1.625em;
        height: 1.625em;
        background: transparent;
        z-index: 999;
      }
    }
    i.fa-clock {
      position: absolute;
      top: 18%;
      left: 17%;
      z-index: 100;
      font-size: 28px;
      z-index: 100;
    }
    .form__time {
      position: relative;
      &[type="time"]::-webkit-calendar-picker-indicator {
        position: absolute;
        left: 0.3em;
        width: 1.625em;
        height: 1.625em;
        background: transparent;
        z-index: 999;
      }
    }
    i.fa-user-friends {
      position: absolute;
      top: 18%;
      left: 15%;
      z-index: 100;
      font-size: 28px;
      z-index: 100;
    }
    .form__btn {
      font-family: "Raleway", sans-serif;
      width: 12.5em;
      height: 3.175em;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      background: #e84545;
      &:hover,
      &:focus {
        background: transparent;
        color: #000;
        border: 1px solid #e84545;
        transition: all 0.3s;
      }
      &:active {
        background: transparent;
        transform: scale(1.1);
      }
    }
    input,
    button {
      border-radius: 6px;
      margin: 0 30px 30px;
    }
    input {
      width: 200px;
      min-height: 56px;
      border: solid 0.0625em #c2c2c2;
      padding: 0 3.325em;
    }
  }
}
// Best in Town это БЛОК ПОСЛЕ ФОРМЫ ПОД ХЭДЕРОМ
.best-in-town {
  background: #fff;
  padding: 4.0625em 0 5.9375em 0;
  .best-in-town__title {
    text-align: center;
    font-family: "Dancing Script", cursive;
    color: #000;
    & > h3 {
      font-size: 6.3125em;
      &::first-letter {
        color: #e84545;
      }
    }
    & > p {
      font-size: 2.8125em;
      &::first-letter {
        color: #e84545;
      }
    }
  }
  .main-dishes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    margin-top: 4.0625em;
    .hot-img__bg {
      position: relative;
      max-width: 100%;
      & img:nth-child(1) {
        position: absolute;
        top: 80%;
        left: 5%;
      }
    }
    .hot-main-dishes__column {
      position: relative;
      min-width: 18.75em;
      min-height: 25em;
      @media screen and (min-width: 240px) and (max-width: 789px) {
        & {
          margin: 0 50px 50px;
        }
      }
      .hot__column {
        font-family: "Raleway", sans-serif;
        background: #fff;
        display: flex;
        flex-flow: column;
        align-items: center;
        position: absolute;
        // общий отступ заголовка
        h4 {
          margin-top: 1.875em;
        }
        // КЛАСС ЗАГОЛОВКУ был дан , как решение проблемы , после лобавления картинки "HOT" В КРАЙНЮЮ С ЛЕВОЙ СТОРОНЫ КАРТИНКУ БЛОКА... в БЛОК ЛУЧШИЕ БЛЮДА
        .hot__h4 {
          margin-top: 1.25em;
        }
        p {
          margin-top: 1.045em;
          max-width: 15em;
          text-align: justify;
          white-space: nowrap; /* Запрещаем перенос строк */
          overflow: hidden; /* Обрезаем все, что не помещается в область */
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis; /* Добавляем многоточие */
          font-family: "Merienda", cursive;
        }
        .hot-descr__p {
          margin-top: 0.8125em;
        }
        .hot-column__img {
          max-width: 100%;
          border-radius: 30%;
        }
        &:hover {
          z-index: 100;
          border: solid 0.125em #000;
          -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px,
            inset rgba(252, 255, 255, 0.7) 0 3px 8px,
            rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
          -moz-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px,
            inset rgba(252, 255, 255, 0.7) 0 3px 8px,
            rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
          border-radius: 10px;
          background: rgb(172, 11, 11)
            radial-gradient(
              circle at 50% 0,
              rgba(22, 21, 21, 0.65),
              rgba(223, 238, 8, 0.767)
            );
          box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px,
            inset rgba(196, 250, 3, 0.7) 0 3px 8px,
            rgba(8, 8, 8, 0.8) 0 3px 8px -3px;
          height: auto;
          cursor: pointer;
          transition: all 0.3s;
          background: #fff;
          padding: 0.8125em;
        }
        // ОТОБРАЖАЕМ ТЕКСТ СКРЫТЫЙ ЗА МНОГОТОЧИЕМ
        &:hover p {
          overflow: visible;
          white-space: normal;
        }
      }
    }
  }
}
